* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Avenir Next', sans-serif;
}

[class*="col-"] {
  width: 100%;
}

/* Header */

.banner {
  position: relative;
  height: 92vh;
  background: url(images/martin-sX4lxBWV0-A-unsplash.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.color-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.heading {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #F5F5F5;
}

.myphoto {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url(images/me.jpeg) no-repeat center;
  background-size: cover;
  margin: 0.6em 0;
}

.regular {
  font-weight: 400;
}

.logo {
  margin: 0.3em 0;
  font-size: 2.5em;
}

.heading h2 {
  margin: 0;
  font-size: 1.7em;
}

/* Navbar */

#navbar {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-evenly;
  background-color: #F2F2F2;
  z-index: 1000;
}

#navbar.big-nav {
  display: none;
}

.nav-tab {
  text-decoration: none;
  color: #212121;
  font-size: 1.17em;
}

.nav-tab:hover {
  font-weight: bold;
  color: #FF6663
}

.sticky {
  position: fixed;
  top: 0;
}

/* About Section */

nav, section, footer {
  padding: 2em 3em;
}

.section-header {
  text-align: center;
  margin: 0;
  padding-bottom: 0.83em;
  font-weight: 400;
}

#about p {
  text-align: justify;
}

/* Best At/Looking For Section */

.table {
  padding-bottom: 1em;
  padding-top: 0;
}

.column {
  margin: 0;
}

.col-6 h4 {
  margin: 0;
  padding: 1.33em 0;
}

.looking_for p{
  margin: 0.15em;
  padding-left: 22px;
}

/* Portfolio Section */

#portfolio {
  height: 100%;
  padding-bottom: 1rem;
}

.projects-container {
  position: relative;
  height: 100%;
  color: #F5F5F5;
}

/* Project Cards Section */

.project-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #F5F5F5;
  margin-bottom: 1rem;
}

.screenshot {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card-text {
  padding: 0 1.33em 1.33em;
  color: #212121;
}

.card-title {
  font-weight: 600;
}

.card-link {
  text-decoration: none;
  color: #7395FF;
}

.card-link:hover {
  color: #FF6663;
}

.tag-list {
  width: 100%;
}

.tag {
  background-color: #7395FF;
  border-radius: 5px;
  padding: 0 5px;
  color: #ffffff;
}

.placeholder {
  background-color: transparent;
}

/* Footer */

footer {
  background-color: #F5F5F5;
}

.social-media {
  text-align: center;
  padding-bottom: 1.67em;
  display: flex;
  justify-content: space-evenly;
}

.social-btn {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.twitter {
  background-image: url(assets/twitter.svg)
}

.twitter:hover {
  background-image: url(assets/hover-twitter.svg)
}

.github {
  background-image: url(assets/github.svg)
}

.github:hover {
  background-image: url(assets/hover-github.svg)
}

.linkedin {
  background-image: url(assets/linkedin.svg)
}

.linkedin:hover {
  background-image: url(assets/hover-linkedin.svg)
}

.email {
  background-image: url(assets/email.svg)
}

.email:hover {
  background-image: url(assets/hover-email.svg)
}

.resume {
  background-image: url(assets/document.svg)
}

.resume:hover {
  background-image: url(assets/hover-document.svg)
}

@media only screen and (min-width: 768px) {
  #navbar.small-nav {
    display: none;
  }

  #navbar.big-nav {
    display: flex;
  }

  nav, section, footer {
    padding: 2em 7em;
  }

  .table, .list {
    display: flex;
    justify-content: space-around;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  nav, section, footer {
    padding: 2em 9em;
  }

  .col-other {width: 49%;}

  #navbar.big-nav {
    padding: 0.6em 10em;
  }

  .social-media {
    padding: 0 10em;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .col-other {width: 49%;}
}

@media only screen and (min-width: 1700px) {

  .myphoto {
    width: 300px;
    height: 300px;
  }

  #navbar.big-nav {
    padding: 0.6em 13em;
  }

  .table, #about p {
    font-size: 1.25vw;
  }

  .section-header {
    font-size: 2vw;
  }

  nav, section, footer {
    padding: 2em 10em;
  }

  .social-media {
    padding: 0 13em;
  }
}
