/* General Styling */

* {
  box-sizing: border-box;
  /* border: 1px solid black !important; */
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Montserrat, 'Avenir Next', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

/* Navbar */

nav {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #F5F5F5;
}

.nav-tab {
  margin-left: 50px;
  text-decoration: none;
  color: #212121;
  font-size: 2.5vh;
}

.nav-tab:hover {
  font-weight: bold;
  color: #FF6663
}

/* Banner */

.color-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.banner {
  position: relative;
  height: 92vh;
  background: url(images/martin-sX4lxBWV0-A-unsplash.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #F5F5F5;
}

.myphoto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: url(images/me.jpeg) no-repeat center;
  background-size: cover;
}

.welcome h1, h2 {
  text-align: center;
  font-weight: 400;
  font-size: 5vh;
}

.welcome h2 {
  font-size: 3.5vh;
}

article {
  display: flex;
  flex-direction: column;
  margin: 15px 0 5px;
}

article h2 {
  margin: 10px 0 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

article p {
  width: 70%;
  margin: 10px auto;
  font-size: 18px;
}

.table {
  width: 70%;
  margin: 40px auto;
  display: flex;
}

.table-column {
  width: 50%;
}

.table-column h3 {
  text-align: center;
}

.table-column p {
  margin: auto;
}

.big-list {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}

footer {
  height: 200px;
  background-color: #F5F5F5;
  padding-top: 50px;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.skills h1 {
  margin: 0;
  text-align: center;
}

.skills h3 {
  margin: 0 0 1em 0;
  font-weight: 400;
  text-align: center;
}

.skills p {
  width: 90%;
  margin: 0 auto;
}

.social-media {
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.twitter {
  background-image: url(assets/twitter.svg)
}

.twitter:hover {
  background-image: url(assets/hover-twitter.svg)
}

.github {
  background-image: url(assets/github.svg)
}

.github:hover {
  background-image: url(assets/hover-github.svg)
}

.linkedin {
  background-image: url(assets/linkedin.svg)
}

.linkedin:hover {
  background-image: url(assets/hover-linkedin.svg)
}

.email {
  background-image: url(assets/email.svg)
}

.email:hover {
  background-image: url(assets/hover-email.svg)
}